* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root,
#content,
#mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    /* width: 600px; */
    position: relative;
}

#mainContent {
    flex-direction: row;
    padding: 5px;
}


#initial,
#game {
    width: 400px;
    height: 400px;
    padding: 5px;
}

#game {
    flex-wrap: wrap;
    display: none;
}

.card {
    /* width: 50px;
    height: 50px; */
    background-image: url(img/0.jpg);
    background-size: cover;
}

#win,
#lose {
    position: absolute;
    top: 50%;
    display: none;
    width: 250px;
    border: 10px solid;
    border-radius: 50px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    padding: 5px;
}

#lose {
    background-color: oklch(62.8% 0.2326 29.23);
    border-color: oklch(44.82% 0.126 29.23);
    height: 100px;

}

#win {
    background-color: oklch(78.89% 0.1788 140.88);
    border-color: oklch(47.17% 0.099 140.88);
}

#win button,
#lose button,
#win input {
    box-sizing: border-box;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    margin: 2px;

}

#win h5 {
    font-size: large;
}

#win input {
    text-align: center;
    height: 27px;
    border-color: oklch(87.17% 0.099 140.88);
}

#win button {
    background-color: aquamarine;
}

#lose button {
    background-color: tomato;
}

#timer {
    height: 30px;
    /* box-sizing: border-box; */
    width: 560px;
    border-radius: 4px;
    border: 2px solid rgba(128, 128, 128, 0.75);
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}

#timerBar {
    position: absolute;
    display: inline-block;
    height: 100%;
    border-radius: 2px;
}

#timerText {
    /* position: absolute; */
    z-index: 1;
}

#leaderboard {
    width: 200px;
    height: 400px;
    border-radius: 20px;
    border: 2px solid rgba(128, 128, 128, 0.75);
    background-color: beige;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    /* right: -200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    overflow: hidden;
}

#leaderboard h4 {
    border-bottom: 5px solid black;
    width: calc(100% - 4px);
    left: 0;
    padding: 4px;
    background-color: bisque;
}

.listElement td:nth-child(2) {
    width: 90px;
}

.listElement td:nth-child(3) {
    width: 79px;
}

#leaderboard .listElement {
    height: 36px;
    /* width: calc(100%-69px); */
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
}